<html>
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>세영이에게 <br>인편을 보내주세요!</h1>
            <p><b>손편지 보내실려면: 충남 논산시 연무읍 사서함 76-11호 27연대 08중대 3소대 162번 훈련병 김세영</b></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            {{ error }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form method="POST" action=".">
              {% csrf_token %} <!-- 장고에서 크로스 도메인을 막기 위해 암호화된 키를 검증 -->

                <div class="form-group">
                    <label for="username">작성자</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           placeholder="작성자 이름"
                           name="작성자" required
                    >
                </div>
                <div class="form-group">
                    <label for="password">제목</label>
                    <input type="text"
                           class="form-control"
                           id="password"
                           placeholder="제목을 입력해주세요"
                           name="제목" required
                    >
                </div>
                <div class="form-group">
                    <label for="re-password">내용</label>
                    <textarea type="text"
                           class="form-control"
                           id="re-password"
                           placeholder="내용을 입력해주세요(최대1500자)"
                           name="내용"
                           ROWs="5" required
                    ></Textarea>

                    <div id="test_cnt">(0 / 1500)</div> <!--숫자세주는 코드-->

                    <script>

    $(document).ready(function() {
        $('#re-password').on('keyup', function() {
            $('#test_cnt').html("("+$(this).val().length+" / 1500)");

            if($(this).val().length > 1500) {
                $(this).val($(this).val().substring(0, 1500));
                $('#test_cnt').html("(1500 / 1500)");
            }
        });
    });

    </script>
                </div>
                <button type="submit" class="btn btn-primary" >보내기</button>
                <a href="/writer"><button class="btn btn-primary" type="button">목록</button></a>
            </form>
        </div>
    </div>
</div>
<footer>
    만든이: 권순우
</footer>
{% if error %}<p style="color:red"><strong>{{ error }}</strong></p>{% endif %}
{% endblock %}
</html>